@model IEnumerable<VeterinaryClinic.Data.Entities.Appointment>

@{
    ViewData["Title"] = "Index";
}
<h1>Appointments</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @if (this.User.IsInRole("Vet"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User.FullName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                # Lines
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (this.User.IsInRole("Vet"))
                {
                    <th>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </th>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    # Lines
                </td>
               
                <td>
                    <a asp-action="Book" asp-route-id="@item.Id" class="btn btn-info" id="btnBook">Book</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


