@model VeterinaryClinic.Data.Entities.Pet

@{
    ViewData["Title"] = "Delete";
}

<div style="height: 210px;" class="slider-area2 slider-height2 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap text-center pt-50">
                    <h2>Delete Pet</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<h3 style="margin-left: 10%;">Are you sure you want to delete this Pet?</h3>
<br />
<div>
    <div class="container">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Gender)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto" />
        </div>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" style="margin-right: 16px; margin-left: 10%;" class="button button-contactForm boxed-btn"><i class="fa fa-trash"></i>Delete</button>
        <a asp-action="Index" class="button button-contactForm boxed-btn"><i class="fa fa-chevron-left"></i>Back to List</a>
    </form>
</div>
