@model VeterinaryClinic.Data.Entities.Customer

@{
    ViewData["Title"] = "Details";
}

<!-- Hero Area Start -->
<div style="height: 210px;" class="slider-area2 slider-height2 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap text-center pt-50">
                    <h2>Customer Details</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div>
    <hr />
    <div class="container">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Document)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Document)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto" />
        </div>
    </div>  
</div>
<br />
<div >
    <a asp-action="Edit" asp-route-id="@Model.Id" style="margin-right: 16px; margin-left: 10%;" class="button button-contactForm boxed-btn"><i class="far fa-edit"></i>Edit</a>
    <a asp-action="Index" class="button button-contactForm boxed-btn"><i class="fa fa-chevron-left"></i>Back to List</a>
</div>
